/*
Filter menu thingies.
*/

#filter-canvas {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#filter-menu {
    z-index: 20;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    background: blue;

    padding: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    overflow-x: hidden;
    overflow-y: auto; /* Adds scrollbar if necessary. */
}

.filter-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
}

.filter-category > * {
    min-width: max-content;
}

.year {
    width: 4em;
    text-align: center;
}

.criterium-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);
    align-items: center;
}

.criterium-container > label {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.criterium-container > input[text] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.criterium-container > select {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.criterium-container > button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}