table {
    border-spacing: 0;
}

#headers > th {
    user-select: none;
}

#headers > th:hover {
    cursor: pointer;
}

th, td {
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}

tbody > tr:nth-child(odd) {
    background-color: black;
}